.number:nth-child(2n+0) {
  color: red;
}

.number:nth-child(2n+1){
  background-color: azure;
}

/* Technically not in the instructions, but I wanted things to be prettier */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

input {
  border: 0;
  box-shadow: 3px 3px 5px #bbb inset, -1px -1px 0 #f7f7f7 inset;
}

#form {
  position: fixed;
  background-color: white;
  box-shadow: 0 -5px 30px #555;
  margin: 0;
  padding: 20px;
  width: 100%;
}

#content {
  padding-top: 50px;
  margin: 0;
}

.number {
  display: inline-block;
  margin: 10px;
  padding: 30px;
  float: left;
}